<h2 id="crispyHeader">About This Tool</h2>
    <div>
      <p>crispy is a <strong>simple, fast,</strong> and <strong>open-source</strong> alternative to existing GuideRNA design tools for the CRISPR/CAS9 gene editing system.</p>

      <h3> Simple </h3>
      <p> crispy provides three ways to design GuideRNAs. As with other GuideRNA design tools, you can simply paste your
      gene sequence into the Raw Sequence Search tab. In addition, you can also search by UCSC genomic coordinates and
      even gene names. </p>

      <h3> Fast </h3>
      <p> crispy is designed to find GuideRNAs fast so you can get back to the bench. We do this by pre-computing and scoring 
      	all of the candidate guide sequences in the genome, so if you search by gene name or coordinate, finding the best
      	guides is as easy as scanning through our database. </p>
      <p> We recognize that you may need to search against custom nucleotide sequences, so we also provide the option of
      	searching against a raw sequence. Since we have to do the off-target analysis from scratch, this method doesn't
      	work as fast (but you'll still get the information you need). </p>

      <h3> Open Source </h3>
      	<p> We believe that science should be shared freely. That's why <a href="https://github.com/philnova/crispy">all the code for crispy is hosted publicly on github</a>
      		so you can see how the site operates. crispy is built using Flask, the microframework for Python web development,
      		and we use SQLAlchemy for database management. There's also some jQuery to make the site look nice.<p>
      	<p>If you believe we could improve our algorithms or would like to request additional features, reach out to us (see contact info below) and we'll do our best.<p>

     <h3> Algorithm </h3>
     <p> Our scoring algorithm is drawn from <a href="http://www.nature.com/nbt/journal/v31/n9/full/nbt.2647.html">Zhang et al. 2013</a>, which accounts both for the number of off-target matches a putative guide sequence has in the genome, the pairwise distance between those mismatches, and the position of the mismatches within the sequence. </p>

      <h3> The crispy Team </h3>
      <ul> 
        <li>Programming: Phil Nova </li>
      	<li>Science: Hane Ryu </li>
      </ul>

      <h3> License </h3>
      <p>crispy is protected by a <a href="https://creativecommons.org/licenses/by-sa/3.0/us/legalcode">Creative Commons 3.0 Share Alike license.</a> (c) 2016 </p>

    </div>